			<table class="table">
				<thead>
					<tr>
						<th class="border-0 text-uppercase small font-weight-bold">Path</th>
						<th class="border-0 text-uppercase small font-weight-bold">Created</th>
						<th class="border-0 text-uppercase small font-weight-bold">Updated</th>
						<th class="border-0 text-uppercase small font-weight-bold">Invalidaed</th>
					</tr>
				</thead>
				<tbody>
					#filechanges
				</tbody>
			</table>