			<table class="table">
				<thead>
					<tr>
						<th class="border-0 text-uppercase small font-weight-bold">Path</th>
						<th class="border-0 text-uppercase small font-weight-bold">Marked for Annotation</th>
					</tr>
				</thead>
				<tbody>
					#markedchanges
				</tbody>
			</table>